---
import Layout from '@layouts/Layout.astro';
import Footer from '@components/Webpage/Footer.astro';
import Menu from '@components/Webpage/Menu.astro';
import SocialMediaBar from '@components/Others/SocialMediaBar.astro';
import Card from '@components/Card/Card.astro';
import ExpCard from '@components/Card/ExpCard.astro';
import EstudiosCard from '@components/Card/EstudiosCard.astro';

const conocimientos = [
	{
		nombre: "HTML5",
		path: "fa-brands fa-html5"
	},
	{
		nombre: "CSS3",
		path: "fa-brands fa-css3"
	},
	{
		nombre: "JS",
		path: "fa-brands fa-js"
	},
	{
		nombre:"GitHub",
		path:"fa-brands fa-github",
				
	},
	{
		nombre:"Git",
		path:"fa-brands fa-git",
				
	},
	{
		nombre:"SQL",
		path:"fa-regular fa-file-code"
				
	},
	{
		nombre: "MySQL",
		path: "fa-solid fa-database"
	},
	{
		nombre: "JAVA",
		path: "fa-brands fa-java"
	},
	{
		nombre: "Microsfot Excell",
		path: "fa-solid fa-file-excel"
	},
	{
		nombre: "React",
		path: "fa-brands fa-react"
	},
	{
		nombre: "PHP",
		path: "fa-brands fa-php"
	},
]

const estudios = [
	{
		imgSrc: "./logoUTP.webp",
		alt: "Logo de UTP",
		titulo: "Ingeniería de Software - UTP",
		estado: "En curso"
	},
	{
		imgSrc: "https://logos-world.net/wp-content/uploads/2021/11/Udemy-Logo.png",
		alt: "Logo de Udemy",
		titulo: "Máster Completo en Java de cero a experto 2023 - Udemy",
		estado: "En curso"
	},
	{
		imgSrc: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJ1lU2P15cEy8AJbOaIArEPdNEGc9-y_6pV6vt1gKGDc0zMFgzGdDpLFv42Sdch85QybY&usqp=CAU",
		alt: "Logo de Alura",
		titulo: "Especialización FrontEnd - Alura",
		estado: "Finalizado"
	},
]

const experiencia = [
	{
		imgSrc:"./hotel-antares.webp",
		titulo: "Hotel Antares",
		descripcion:"Proyecto en el cual se pueden consultar los clientes y habitaciones, así como editarlos y eliminarlos. Para poder hacer esto el admin debe estar logueado, cada vez que lo haga recibirá un correo de inicio de sesión.",
		demo:"https://github.com/idmr023/ProyectoWeb",
		repositorio:"https://github.com/idmr023/ProyectoWeb",
		tecnologias:["fa-brands fa-java", "fa-solid fa-database"]
	},
	{
		imgSrc:"./banco-chanchitoUTP.webp",
		titulo:"Banco Chanchito UTP",
		descripcion:"Trata acerca de una página de un banco fictio, donde el cliente puede regsitrarse, iniciar y cerrar sesión. Además, puede crear su tarjeta, su seguro y consultar su estado de cuenta. Toda la página es responsiva.",
		demo:"https://chanchitoutp.000webhostapp.com/proyChanchitoUTP/index.php",
		repositorio:"https://github.com/idmr023/ChanchitoUTP",
		tecnologias:["fa-brands fa-html5", "fa-brands fa-css3", "fa-brands fa-php", "fa-solid fa-database"]
	},
	{
		imgSrc:"./proylibreria.webp",
		titulo:"Proyecto Libreria",
		descripcion:"El proyecto presenta rutas protegidas, autenticación y registro del usuario, listado de libros desde la base de datos y envío de correos de contacto. Además, usando Stack AI y Botpress cree un ChatBot personalizado para atender las consultas de los clientes.",
		demo:"https://libreria-two.vercel.app",
		repositorio:"https://github.com/idmr023/Libreria",
		tecnologias:["fa-brands fa-react", "fa-solid fa-database"]
	}
]

---
<Layout title="Portafolio - Inicio">
	<Menu />
	<header class="flex flex-wrap w-4/5 mt-12 mb-3 mx-auto">
		<img class="min-w-56 h-56 mr-7 mb-4 rounded-md sm:w-44" src="./profile.webp" alt="Imagen de perfil">
		<div class="info">
			<h1 class="text-4xl text-cyan-600">Ivan Daniel Manrique Roa</h1>
			<p class="text-white">Desarrollador Full Stack</p>
			<SocialMediaBar/>
		</div>
	</header>
	
	<section class="flex flex-wrap w-4/5 mx-auto justify-between" id="aboutme">
		<div class="mb-4">
			<h1 class="text-4xl p-2 text-center text-cyan-600">Sobre mi</h1>
			<p class="text-white text-justify">Estudio Ingeniería de Software, me encuentro en el 7mo ciclo.<br/>Amante de los libros ditópicos, el aprendizaje continuo y la tecnología.</p>
		</div>
		
		<div class="mt-12">
			<h1 class="text-4xl p-2 text-center text-cyan-600" id="skills">Conocimientos</h1>
			<div class="flex flex-wrap text-white">
				{
					conocimientos.map((conocimiento) => (
						<Card
							path={conocimiento.path}
							nombre={conocimiento.nombre}
							/>
					))
				}
			</div>
		</div>
		
	</section>

	<section class="w-4/5 mt-12 mx-auto justify-between text-white" id="studies">
		<h1 class="text-4xl p-2 text-center text-cyan-600">Formación académica</h1>
		<div class="flex flex-wrap justify-around p-6">
			{
				estudios.map((estudio) => (
					<EstudiosCard
						imgSrc={estudio.imgSrc}
						titulo={estudio.titulo}
						estado={estudio.estado}
						alt={estudio.alt}
					/>
				))
			}			
		</div>	
	</section>
	
	<section class="w-4/5 mx-auto justify-between text-white" id="proyects">
		<h1 class="text-4xl p-2 text-center text-cyan-600">Experiencia profesional</h1>
		<div class="flex flex-wrap p-6 justify-around">

			{
				experiencia.map((exp) => (
				<ExpCard
					imgSrc={exp.imgSrc}
					alt={exp.titulo}
					titulo={exp.titulo}
					descripcion={exp.descripcion}
					demo={exp.demo}
					repositorio={exp.repositorio}
					tecnologias={exp.tecnologias}
				/>
				
				))
			}

		</div>
	</section>

	<Footer/>

</Layout>
